.image.third-first {
    background-image: url(../photos/apartment-3/dining-room.jpg);
}

.image.third-second {
    background-image: url(../photos/apartment-3/dining-room-2.jpg);
}

.image.third-third {
    background-image: url(../photos/apartment-3/kitchen.JPG);
}

.image.third-fourth {
    background-image: url(../photos/apartment-3/dining-bed.JPG);
}

.image.third-fifth {
    background-image: url(../photos/apartment-3/bed.JPG);
}

.image.third-sixth {
    background-image: url(../photos/apartment-3/couch-tv.JPG);
}

.image.third-seventh {
    background-image: url(../photos/apartment-3/couch-hall.JPG);
}

.image.third-eighth {
    background-image: url(../photos/apartment-3/flower-stand.JPG)
}

.image.third-ninth {
    background-image: url(../photos/apartment-3/terrace-stairs-2.JPG)
}

.image.third-tenth {
    background-image: url(../photos/apartment-3/terrace-stairs.JPG)
}

.image.third-eleventh {
    background-image: url(../photos/apartment-3/terrace.JPG)
}

.image.third-twelveth {
    background-image: url(../photos/apartment-3/chandelier.JPG)
}

.image.third-thirteenth {
    background-image: url(../photos/apartment-3/toilet.JPG)
}

.image.third-fourteenth {
    background-image: url(../photos/apartment-3/toilet-2.JPG)
}

.image.third-fifteenth {
    background-image: url(../photos/apartment-3/shower.JPG)
}

.image.third-sixteenth {
    background-image: url(../photos/apartment-3/sink.JPG)
}

.image.third-seventeenth {
    background-image: url(../photos/apartment-3/wall.JPG)
}

.image.third-eighteenth {
    background-image: url(../photos/apartment-3/stairs.JPG)
}

.image.third-nineteenth {
    background-image: url(../photos/apartment-3/windows-outside.JPG)
}