.image.second-first {
    background-image: url(../photos/apartment-2/resized/living-room.jpg);
}

.image.second-second {
    background-image: url(../photos/apartment-2/resized/living-room-2.jpg);
}

.image.second-third {
    background-image: url(../photos/apartment-2/resized/living-room-3.jpg);
}

.image.second-fourth {
    background-image: url(../photos/apartment-2/resized/stairs.jpg);
}

.image.second-fifth {
    background-image: url(../photos/apartment-2/resized/bedroom.jpg);
}

.image.second-sixth {
    background-image: url(../photos/apartment-2/resized/bedroom-2.jpg);
}

.image.second-seventh {
    background-image: url(../photos/apartment-2/resized/bedroom-3.jpg);
}

.image.second-eighth {
    background-image: url(../photos/apartment-2/resized/toilet.jpg)
}