.image.third-first {
    background-image: url(../photos/apartment-3/resized/dining-room.jpg);
}

.image.third-second {
    background-image: url(../photos/apartment-3/resized/dining-room-2.jpg);
}

.image.third-third {
    background-image: url(../photos/apartment-3/resized/kitchen.jpg);
}

.image.third-fourth {
    background-image: url(../photos/apartment-3/resized/dining-bed.jpg);
}

.image.third-fifth {
    background-image: url(../photos/apartment-3/resized/bed.jpg);
}

.image.third-sixth {
    background-image: url(../photos/apartment-3/resized/couch-tv.jpg);
}

.image.third-seventh {
    background-image: url(../photos/apartment-3/resized/couch-hall.jpg);
}

.image.third-eighth {
    background-image: url(../photos/apartment-3/resized/flower-stand.jpg)
}

.image.third-ninth {
    background-image: url(../photos/apartment-3/resized/terrace-stairs-2.jpg)
}

.image.third-tenth {
    background-image: url(../photos/apartment-3/resized/terrace-stairs.jpg)
}

.image.third-eleventh {
    background-image: url(../photos/apartment-3/resized/terrace.jpg)
}

.image.third-twelveth {
    background-image: url(../photos/apartment-3/resized/chandelier.jpg)
}

.image.third-thirteenth {
    background-image: url(../photos/apartment-3/resized/toilet.jpg)
}

.image.third-fourteenth {
    background-image: url(../photos/apartment-3/resized/toilet-2.jpg)
}

.image.third-fifteenth {
    background-image: url(../photos/apartment-3/resized/shower.jpg)
}

.image.third-sixteenth {
    background-image: url(../photos/apartment-3/resized/sink.jpg)
}

.image.third-seventeenth {
    background-image: url(../photos/apartment-3/resized/wall.jpg)
}

.image.third-eighteenth {
    background-image: url(../photos/apartment-3/resized/stairs.jpg)
}

.image.third-nineteenth {
    background-image: url(../photos/apartment-3/resized/windows-outside.jpg)
}